	/* work-sans-700 - latin */
	
	@font-face {
	    font-family: 'Work Sans';
	    font-style: normal;
	    font-weight: 700;
	    src: url('/fonts/work-sans-v16-latin-700.eot');
	    /* IE9 Compat Modes */
	    src: local(''), url('/fonts/work-sans-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	    url('/fonts/work-sans-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	    url('/fonts/work-sans-v16-latin-700.woff') format('woff'), /* Modern Browsers */
	    url('/fonts/work-sans-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	    url('/fonts/work-sans-v16-latin-700.svg#WorkSans') format('svg');
	    /* Legacy iOS */
	}
	/* work-sans-900 - latin */
	
	@font-face {
	    font-family: 'Work Sans';
	    font-style: normal;
	    font-weight: 900;
	    src: url('/fonts/work-sans-v16-latin-900.eot');
	    /* IE9 Compat Modes */
	    src: local(''), url('/fonts/work-sans-v16-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	    url('/fonts/work-sans-v16-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
	    url('/fonts/work-sans-v16-latin-900.woff') format('woff'), /* Modern Browsers */
	    url('/fonts/work-sans-v16-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
	    url('/fonts/work-sans-v16-latin-900.svg#WorkSans') format('svg');
	    /* Legacy iOS */
	}
	
	@media (prefers-color-scheme: dark) {
	     :root {
	        --bg: #011627;
	        --darks: #eef;
	        --main: #ff3366;
	        --accent: #4d6cfa;
	    }
	}
	
	@media (prefers-color-scheme: light) {
	     :root {
	        --bg: #eef;
	        --darks: #011627;
	        --main: #4d6cfa;
	        --accent: #ff3366;
	    }
	}
	
	:global(::selection) {
	    background: var(--main);
	    color: var(--bg);
	}
	/*main {
		flex: 1;
		display: flex;
		flex-direction: column;
		padding: 1rem;
		width: 100%;
		max-width: 1024px;
		margin: 0 auto;
		box-sizing: border-box;
	}*/
	
	body {
	    background-color: var(--bg);
	    min-height: 100vh;
	    margin: 0;
	    font-family: 'Avant Garde', sans-serif;
	    text-align: left;
	    color: var(--darks);
	    padding: 0 1em;
	    margin: 0 0.4vw;
	}
	
	@media (min-width: 640px) {
	    body {
	        max-width: 80vw;
	        margin: 0 auto;
	    }
	}
	
	body::before {
	    content: '';
	    width: 80vw;
	    height: 100vh;
	    position: absolute;
	    top: 0;
	    left: 10vw;
	    z-index: -1;
	    background: radial-gradient( 50% 50% at 50% 50%, var(--pure-white) 0%, rgba(255, 255, 255, 0) 100%);
	    opacity: 0.05;
	}
	
	p {
	    line-height: 1.5;
	}
	
	a {
	    color: var(--accent);
	    text-decoration: none;
	}
	
	a:hover {
	    text-decoration: underline;
	}
	
	pre {
	    font-size: 16px;
	    font-family: var(--font-mono);
	    background-color: rgba(255, 255, 255, 0.45);
	    border-radius: 3px;
	    box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	    padding: 0.5em;
	    overflow-x: auto;
	    color: var(--text-color);
	}
	
	input,
	button {
	    font-size: inherit;
	    font-family: inherit;
	}
	
	button:focus:not(:focus-visible) {
	    outline: none;
	}
	
	@media (min-width: 720px) {
	    h1 {
	        font-size: 2.4rem;
	    }
	}